body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img {
    height: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #0e2447;
}

.hero {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: rgb(255, 255, 255);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.content {
    padding: 40px 60px;
    text-align: justify;
    line-height: 1.6;
}

footer {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}
