body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img {
    height: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #0e2447;
}

.hero {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.profil {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.card {
    background: #f2f2f2;
    padding: 30px;
    width: 350px;
    border-radius: 8px;
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
